<!DOCTYPE html>
<html>
  <head>
    <title>TechniqueSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="width: 320px;">
    <header>
      <div>
        <li><%= link_to 'CSV連想配列出力(js)',js_practice_first_path %></li>
        <li><%= link_to 'CSV出力(Ruby)', csv_test_ruby_path %></li>
        <li><%= link_to 'CSV出力(js)', csv_test_js_path %></li>
        <li><%= link_to 'CSV連想配列出力(js)2', js_practice_second_path %></li>
        <li><%= link_to 'CSV通知出力(js)3', js_practice_third_path %></li>
      </div>
    </header>

    <%= yield %>
  </body>

<script type="text/javascript">
$(function() {
  var viewport = document.createElement('meta');
  viewport.setAttribute('name', 'viewport');
  viewport.setAttribute('content', 'width=320');
  document.getElementsByTagName('head')[0].appendChild(viewport);
});
</script>
</html>
